body {
  margin:0 ;
  background-color:antiquewhite;
  min-height: 100vh;
}

header {
  background-color: black;
  padding-top: 10px;
}

.container a {
  color: white;
  text-decoration: none;

}

/* clear fix with floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

span {
  float:left;
}

.title {
  color: white;
  font-size:1.25em;
  padding-top:10px;
  padding-left:25px;
  letter-spacing: 4px;;
}

nav {
  float:right;
}

nav li {
  display: inline-block;
  margin: 0 20px;
  padding-bottom: 10px;
}

* {
  font-family: 'Roboto', sans-serif;
}